# Core
numpy
pandas
matplotlib
scikit-learn
scikit-image
pyyaml
tqdm

# Geospatial
rasterio
geopandas
shapely
pyproj
pyogrio

# Deep Learning
torch
torchvision
torchmetrics
albumentations
pycocotools

# Evaluation
scipy
tabulate
